 # Q1. Explain with an example each when to use a for loop and a while loop.

In [4]:
# Use for loop
# for loop basically use for print the element to continuos
# For Example


p = [ 1,2,3,4,5,5,1,2,3,4]
for z in p:
    print(z)

1
2
3
4
5
5
1
2
3
4

In [3]:
# Use while loop
# while loop use to print continue element with condition like condition true print element condition false not print
# for Example

i= 1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

# Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
# and while loop.

In [13]:
# sum of first 10 natural number with while loop

sum = 0
i=1
while i<=10:
    print(i)
    sum = sum+i
  
    i=i+1
    print("sum is 10 natural number is : ",sum)

1
sum is 10 natural number is :  1
2
sum is 10 natural number is :  3
3
sum is 10 natural number is :  6
4
sum is 10 natural number is :  10
5
sum is 10 natural number is :  15
6
sum is 10 natural number is :  21
7
sum is 10 natural number is :  28
8
sum is 10 natural number is :  36
9
sum is 10 natural number is :  45
10
sum is 10 natural number is :  55

In [15]:
# product of first 10 natural number with while loop

product = 1
i=1
while i<=10:
    print(i)
    product = product*i
  
    i=i+1
    print("product is 10 natural number is : ",product)

1
product is 10 natural number is :  1
2
product is 10 natural number is :  2
3
product is 10 natural number is :  6
4
product is 10 natural number is :  24
5
product is 10 natural number is :  120
6
product is 10 natural number is :  720
7
product is 10 natural number is :  5040
8
product is 10 natural number is :  40320
9
product is 10 natural number is :  362880
10
product is 10 natural number is :  3628800

In [16]:
# sum of first 10 natural number with for loop

sum = 0
for i in range(1,11):
    print(i)
    sum = sum+i
    print("sum of first 10 natural number",sum)

1
sum of first 10 natural number 1
2
sum of first 10 natural number 3
3
sum of first 10 natural number 6
4
sum of first 10 natural number 10
5
sum of first 10 natural number 15
6
sum of first 10 natural number 21
7
sum of first 10 natural number 28
8
sum of first 10 natural number 36
9
sum of first 10 natural number 45
10
sum of first 10 natural number 55

In [2]:
# product of first 10 natural number with for loop

p= 1
for i in range(1,11):
    print(i)
    p =p*i
    print("product is first 10 natural number",p)

1
product is first 10 natural number 1
2
product is first 10 natural number 2
3
product is first 10 natural number 6
4
product is first 10 natural number 24
5
product is first 10 natural number 120
6
product is first 10 natural number 720
7
product is first 10 natural number 5040
8
product is first 10 natural number 40320
9
product is first 10 natural number 362880
10
product is first 10 natural number 3628800

# Q3. Create a python program to compute the electricity bill for a household.

# The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
# unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
# be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
# You are required to take the units of electricity consumed in a month from the user as input.
# Your program must pass this test case: when the unit of electricity consumed by the user in a month is
# 310, the total electricity bill should be 2250.

In [1]:
a=int(input("enter your unit"))
if a >= 1 and a <= 100:
     a = a*4.5
print("your electricity is :",a) 
break;


if a >= 101 and  a <= 200:
    a =a*6
print("your electricity is :",a)
break;
if a >= 201 and a <= 300:
    a =a*10
print("your electricity is :",a)
break;
if a >= 301 and a <= 400:
    a = a*20
print("your electricity is :",a)

enter your unit 12

your electricity is : 54.0

SyntaxError: 'break' outside loop (2115719415.py, line 5)

# Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
# number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
# that list.

In [20]:
# sir i can not understand this question but i am trying
temp=[]
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100]
for i in l:
    print(i**3)
    if i % 4 == 0:
        temp=temp.append[l]
        print(temp)

1
8
27
64

TypeError: 'builtin_function_or_method' object is not subscriptable

# Q5. Write a program to filter count vowels in the below-given string.
# string = "I want to become a data scientist"

In [26]:

# sir i am no understand this question 
# because then i am ask the question no answer
string = "I want to become a data scientist"
list(filter(lambda x : if x == string))

SyntaxError: invalid syntax (2356392644.py, line 2)